@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    Shopzee is an example of a company that nails its About Us
    page design while doing a great job at telling the world its story
    that tells the world their story. Their page shows how important it
    is for them to talk about their mission to help people start, run, and grow a business.
    The company prides itself in making ecommerce easier for everyone.
    Also, it paints a picture of the future for Shopzee by mentioning that they’re
    building a 100-year company by investing in their people and the planet.
</p>
